* {
    font-family: 'Sofia Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;
}

.left {
    background-image: url(background.jpg);
    background-size: auto 100%;
    background-position:center;
    object-fit: cover;
    height: 100vh;
    width: 35%;
}

.right {
    /*background-color: blue;*/
    height: 100vh;
    width: 65%;
    background: #f8e9c7;
}

.logo-bg {
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 250px;
    position: relative;
    top: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: clamp(0px, 10%, 30px);
}

.logo-bg > h1 {
    color: white;
    font-size: 40px;
}

#odin-logo {
    height: 100px;
    width: auto;
}

.right {
    display: flex;
    flex-direction: column;
}

p.intro {
    font-weight: 800;
    margin-left: 10vw;
    margin-top: 15vh;
    font-size: 1.2rem;
    margin-bottom: 5vh;
    width: 800px;
}

.whitebg {
    background-color: white;
    box-sizing: border-box;
    padding: 50px 20px;
    padding-left: 10vw;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

button[type="submit"] {
    background-color: #1e751e;
    padding: 10px;
    border-radius: 5px;
    border: 0;
    color: white;
    font-size: 25px;
    letter-spacing: 1px;
    /*font-weight: 800;*/
    margin: 30px;
}

p.have-account-question {
    padding-left: 30px;
}

a {
    color: #31a231;
}

td > * {
    display: block;
}

td {
    padding: 5px;
}

table.form {
    width: 400px;
}

/*TODO: fix background positioning*/
/*TODO: first p on right side*/

input {
    font-size: 20px;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5px 0;
}

.whitebg > h2 {
    margin-bottom: 20px;
    padding-left: 10px;
}

div.photo-credit {
    width: 35%;
    background-color: rgb(0, 0, 0, 0.5);
    height: 20px;
    position: absolute;
    bottom: 0;
    text-align: center;
    color: white;
}

.left div.photo-credit a {
    color: #58bd58;
}